* {
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(27, 101, 238);
    position: relative;
    min-width: 1024px;
    overflow-x: hidden;
    overflow-y: scroll;
}

body, #root, #root>div{
    height: 100%;
}

.section1{
    height: 250px;
    text-align: center;
    position: relative;
    font-size: 26px;
    padding: 40px;
}

.section2{
    margin: 10px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary{
    display: flex;
    margin: 10px;
    width: 400px;
    justify-content:  left;
}